{include inc/header.htm}

<p>{Lan_Hello}</p>

<ol style="margin-right:10px;">
<li>帮助文档: <a href="{tag_link}" target="_blank">Help</a></li>
</ol>

<ol style="margin-right:10px;">
<li>数据库,增删改查,翻页,图片缩放: <a href="{tag_list}" target="_blank">Hello WTS</a></li>
<li>Json对象: <a href="{tag_json}" target="_blank">json</a></li>
<li>上传文件: <a href="{tag_upload}" target="_blank">Upload</a></li>
<li>加密解密: <a href="{tag_crypt}" target="_blank">Crypt</a></li>
<li>Http请求: <a href="{tag_spider}" target="_blank">Http</a></li>
<li>网站统计: <a href="{tag_stat}" target="_blank">Stat</a></li>
<li>压缩: <a href="{tag_zip}" target="_blank">Zip</a></li>
<li>验证码:<a href="{tag_verify}" target="_blank">Verify</a></li>
</ol>

{include inc/footer.htm}