{include inc/header.htm}

<p>{Lan_Hello}</p>

<ol style="margin-right:10px;">
<li>Helper: <a href="{tag_link}" target="_blank">View</a></li>
<li>GitHub: <a href="https://github.com/ekede/WTS-Classic-ASP-MVC-Framework" target="_blank">View</a></li>
</ol>

<ol style="margin-right:10px;">
<li>DB(CURD): <a href="{tag_list}" target="_blank">View</a></li>
<li>Json Object: <a href="{tag_json}" target="_blank">View</a></li>
<li>Upload: <a href="{tag_upload}" target="_blank">View</a></li>
<li>Crypt/Decrypt: <a href="{tag_crypt}" target="_blank">View</a></li>
<li>Http: <a href="{tag_spider}" target="_blank">View</a></li>
<li>Static: <a href="{tag_stat}" target="_blank">View</a></li>
<li>Zip: <a href="{tag_zip}" target="_blank">View</a></li>
<li>Verify:<a href="{tag_verify}" target="_blank">View</a></li>
</ol>

{include inc/footer.htm}